#ShallLayout {

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    overflow: hidden;

    header {

        background-color: rgb(255, 194, 81);
        box-shadow: 0px 2px 20px 2px #878787;
        position: relative;
        z-index: 2;
        padding: 20px 0 20px 30px;

        a {
            color: black;
            text-decoration: none;
            font-size: 18px;
            margin-right: 10px;
        }

        a.active {
            border-bottom: 4px solid black;
            padding-bottom: 17px;
            font-weight: 600;
        }

    }

    main {
        overflow: auto;
        position: relative;
        z-index: 1;
        padding: 20px;
        scrollbar-color: lightgray white;
    }

    main:has(> div[id*=error]) {
        margin: 0;
        max-width: none;
    }

    footer {
        background-color: rgb(255, 194, 81);
        box-shadow: 2px 0px 20px 2px #878787;
        position: relative;
        z-index: 2;
        padding: 20px;
    }

}